/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
} */

body {
  font-family: sans-serif;
  background-color: #e6ecf0;
}

header {
  background-color: white;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.bluebird {
  font-size: 24px;
  color: #1da1f2;
}

.nav-ul{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: space-between;
}


.follow-toggle, input[type="submit"] {
  background-color: #1da1f2;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

#nav-logout, .nav-ul li a{
  padding: 15px;
  text-decoration: none;
  color: #657786;
}

#nav-logout {
  background:none;
  border:none;
  margin: 0;
  margin-right: 10px;
  /* padding:0; */
  cursor: pointer;
  font-size: 16px;
}


